/* Name: Eugene Proctor :: Project 1 :: MIU 1306 */


/*
title: Web App Part 1 - css file 
by: Eugene Proctor   Term: 1306
for: MiU - CSS Selectors
*/




#displayClearLinks {

	text-align: center;
	margin: 20px 20px;



}




label.error {

	display:	block;
	margin: 	10px 0;
	color: 		red;


}


#errorsLink {

	display:none;

}


.browseCar {
text-align: center;
margin-left: 17px;
font-size: 21px;
font-weight: bold;
}


.browseBallCards {
text-align: center;
margin-left: 10px;
font-size: 21px;
font-weight: bold;
}






.bulletImg {

	width: 80px;
	height: 80px;
	

}



#creditHr, #newsHr {

	margin: 23px 0 0 0px;



}








#creditHeader, #newsHeader {

	margin: 23px 0 0 0px;



}



#aboutHeader {

	margin: 30px 0 0 115px;



}


#bottomLine {

	margin-bottom: -20px


}




#ctaHeading {


	margin: 15px 0 0 110px;


}


#newsHeading {



}



#browseHeading {

	margin-left: 90px;


}


#saveHeader {

	margin-left: -5px;

}

#shareWithFriends {

	margin-left: 33px; 
	margin-top: -16px;
	margin-bottom: 40px;


}

.contactLink {

	//font-size: 1.5em;
	text-decoration: underline;
	font-weight: bold;
	margin-top: -20px;
	margin-bottom: 20px;
	margin-left: 20px;

}


#searchHeader {

	margin: 29px 0 10px 10px;
	

}

#search {

	margin-left: 50px;
	margin-top: 10px;

}


#searchImg {

	margin-left: 7%;
	margin-top:  15px;
	margin-bottom: 30px;
	width: 254px;
	height: 31px;

}

#browse {

	margin-top: 15px;
	margin-left: 10px;


}



#browseImage {

	margin-left: 10%;
	margin-top: 15px;


}



.blue {
	color: #0063ec; //blue
	

}



#on {

text-decoration: underline;
color: #64ee0b;  //green
}


#greenon {

text-decoration: underline;
color: green;


}


.onbutton {
	margin-left: 68%;
	margin-bottom: 0px;
	margin-top: -70px;
//	width: 182px;
//	height: 95px;
	width: 75px;
	height: 82px;

}

.offbutton {
	margin-left: 12%;
	width: 310px;
	height: 190px;
	/*margin-top: 5%;*/
}



#ratingTape {
	margin-left:  10px;
	color: #0063ec;  /* blue */
	font-weight:bold;
	border: 1px solid black;
	background-color: white;
	padding: 5px 5px;


}



#key, .required {
	color: red;

}


.dcaRow {

	margin-left: 3.5em; 
	font-family: "myriad pro", Times, serif;
	font-weight: bold;

}

body {
//	background: #e1b016; 	
	overflow:	scroll;


}


#mainHeader {
	text-align: center;
	font-family: "myriad pro", Times, serif;
	border: 2px solid black;
	padding: 10px;
}




h1 {
	text-align: center;
	font-family: "myriad pro", Times, serif;
//	border: 2px solid black;
	//padding: 10px;
	font-weight: normal;
	font-size 1.5em;
}

h2 {
	font-family: "myriad pro", Times, serif;
	text-align: left;
}

a:hover {
	color: #f8620a; /* orange */
	outline: none;
}

a {
	text-decoration: none;
	color: #0063ec;  /* blue */
}

p {
	color: #000000;
	font-family: "myriad pro", Times, serif;
	line-height: 1.5em;
	
}

legend {
	font-weight: bold;
}



label, input {
	margin-bottom: 10px;
}



.moreSpace {

	margin-bottom: 20px;
}



.moreSpaceTwo {

	margin-bottom: 15px; 
 
}


.moreSpaceSurvey {

	margin-bottom: 5px;

}



.moreSpaceDes {

	margin-bottom: 0px;
	margin-top: 40px;

}



.moreSpaceUp {

	margin-top: 50px;
	border: 1px solid yellow;
	
}


.moreSpace li {

	margin-bottom: 20px;
}


/*
#startdate, #fullName {
	float: right;
	border: 1px solid black; 
}
*/

/*delete fontEmail line 66*/
#fontEmail {
	border: 1px solid #e1b016; 
}


/*
#email {
	border: 1px solid black;
	float: right;
}
*/


/*delete fontCity*/
#fontCity {
/*	border: 1px solid red; */
}


#city {
/*	border: 1px solid blue; */
	float: right;
//	float: left;
//	margin-top: 10px;
}


.turnGreenTravel {

	margin-top: 20px;

}


input:focus, textarea:focus {
	background-color:yellow;
}


.desTextBox {

	border: 2px solid #0063ec;  /*blue*/
	background-color:yellow;
}


.turnGreen {

	float: right;
	border: 2px solid #0063ec;	
	
}


#greenBorder {
		float: right;
		border: 2px solid #0063ec;
		background-color:yellow;

}

#turnGreen {

		float: right;
		border: 2px solid #0063ec;
		background-color:yellow;

}

#greenBorderCity {

		float: right;
		border: 2px solid #0063ec;
		background-color:yellow;

}

#errorValidation {
	
		color: red;
}

img, #browseImage  {

	list-style: none;
	margin-top: 40px;
	width: 254px;
	height: 31px;

}




ul {
	
	list-style: none;


}


li {
	margin-left: 0px;
	list-style: none;
	
}




/*
#rating {

	margin-left: -30px;
	margin-top: 20px;


}

*/


#collection {

	margin: 0 0 0 0;
	/*	border: 1px solid blue; */
	float: right;
//	float: left;
	margin-top: 10px;

}

#description {

	width: 256px;
	height: 45px;

}

